<!doctype html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Bubble Chart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <link rel="stylesheet" href="/static/Nick/css/style.css">
  </head>
  <body>
      <header>
          <div class="container">
              <div id="branding">
                  <h1><span class="highlight">Stock</span> Analysis</h1>
              </div>
              <nav>
                  <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="elliot">Elliot</a></li>
                      <li class="current"><a href="nick">Nick</a></li>
                      <li><a href="julie">Julie</a></li>
                      <li><a href="rose">Rose</a></li>
                  </ul>
              </nav>
          </div>
      </header>
      <form></form>
      <div id="barChart"></div>
      <div id="donut"></div>
        <p>
          <a href="https://github.com//Nnothdurft/BlueGroup">Github repository</a>
        </p>
      </div>
    <footer>
        <p>Blue Group(Elliot,Nick,Julie,Rose) &copy; 2018</p>
    </footer>
    <script src="{{url_for('static', filename='Nick/app.js')}}"></script>
  </body>
</html>
